{{ partial "header" .}}

<h1>
Welcome to my page!</h1>
{{ .Content }}

Thanks for stopping by my personal page! This is my ‘work in progress website’ where I hope to add new R-Code and other helpful resources (both clinical and statistics related). Feel free to e-mail me with questions!

<h2></h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ range first 1 $pages }}
    {{ if in .Site.Params.mainSections "portfolio" }}
      {{ partial "portfolio/item" .}}
    {{ else if in .Site.Params.mainSections "post" }}
      {{ partial "post/item" .}}
    {{ end }}
  {{ end }}

{{ partial "footer" .}}
