{{ partial "header" .}}

<h1>
Welcome to my page!</h1>
{{ .Content }}

Thanks for visiting! Feel free to use the navigation links on the left to learn more about me and my research, or check out my R code and R teaching materials!   

<h2></h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ range first 1 $pages }}
    {{ if in .Site.Params.mainSections "portfolio" }}
      {{ partial "portfolio/item" .}}
    {{ else if in .Site.Params.mainSections "post" }}
      {{ partial "post/item" .}}
    {{ end }}
  {{ end }}

{{ partial "footer" .}}
